
AIToys/SAMToy/FastSAM
AIToys/SAMToy/CLIP
AIToys/SAMToy/area_demo/__pycache__
AIToys/YoloV8Toy/trainMyData/yoloTrain*
AIToys/YoloV8Toy/trainMyData/wandb
AIToys/YoloV8Toy/trainMyData/*.log
AIToys/YoloV8Toy/trainMyData/runs
AIToys/YoloV8Toy/trainMyData/*.pt
AIToys/YoloV8Toy/trainMyData/*.mp4


AIToys/YoloV8Toy/verify_env/*.mp4

deepSpeed/ds_train_learning/cifiar/deepspeed_runs/*
deepSpeed/ds_train_learning/cifiar/=*

course_cpp_ternsorrt/*/build
course_cpp_ternsorrt/*/*/build
course_cpp_ternsorrt/course8_faceNet/*/__pycache__
course_cpp_ternsorrt/course8_faceNet/*/*.onnx
course_cpp_ternsorrt/course8_faceDet/facenet
course_cpp_ternsorrt/course8_faceNet/facenet

